<h1 class="text-center m-4">Salut <%= params["name"] %> !</h1>

<div class="container">
	<div class="row justify-content-md-center">
		<p class="col-8 text-center">
			J'aimerais faire un peu plus, que la page perso soit tout le temps présente quand tu es connectée par exemple !
		</p>

		<p class="col-8 text-center">
			<img src="https://media.giphy.com/media/brsEO1JayBVja/source.gif" class="img-fluid" alt="Hey you!" />
		</p>
	</div>
</div>

